{% extends 'base/base.html' %}
{% load static %}


{% block body %}


<div class="container train-home-outerdiv">


    <div class="train-home-jumbo">
        
        {% if image_exist %}
            <img src="{% static 'image/train_medicine.jpg' %}" alt="broken" width="100%" height="350px">
            <form action="{% url 'train:remove_image' %}" method="post">
                {% csrf_token %}

                <input type="submit" value="REMOVE IMAGE" class="remove-image">
            </form>
        {% else %}
        
            <form action="{% url 'train:image_post' %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <input type="file" class="input-image" name="input-image" id="input-image" class="form-control" required>
                <input type="button" value="Submit" class="form-control" id="empty-form-button">
                <input type="submit" id="empty-form-submit-button" value="submit" class="form-control" style="display: none;">

                <div class="spinner-border" role="status" id="empty-form-spinner" style="display: none; margin-left: 48%; margin-top:3%">
                    <span class="sr-only">Loading...</span>
                </div>
            
            </form>

        {% endif %}
    </div>



    <div class="train-home-functions">
        
        {% if image_exist %}
            <form action="{% url 'build_weights:add_single_image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for cropped_file_name in cropped_file_names %}

            
            
                <div class="container">

                    <div class="row">

                        <div class="col-sm-6">
                            <p>{{forloop.counter}}</p>
                            <div class="train-home-functions--cropped-image-div ">

                                <img src="{% static '' %}{{cropped_file_name.0}}" alt="brkn" width="50%" height="50%">
                                
                            </div>
                        </div>
                
                        <div class="col-sm-6">
                            <div class="jumbotron">

                                <select name="yakuzai_name" id="{{forloop.counter}}" class="form-control">

                                    {% for yakuzai_name in yakuzai_names %}
                                        <option value="{{forloop.counter}}"> {{yakuzai_name}} </option>
                                    {% endfor %}

                                </select>

                                <input type="text" name="changed_yakuzai_name" value="{{cropped_file_name.0}}">

                                <p>SIMILAR SUGGESTION FILENAME : {{cropped_file_name.1}}</p>

                            </div>
                        </div>

                    </div>
                    
                </div>

                <hr>

            {% endfor %}

            <input type="button" value="SUBMIT" class="form-control" name="form-button" id="form-button">
            <input type="submit" value="SUBMIT" style="display: none;" id="form-submit-button">

            <div class="spinner-border" role="status" id="form-spinner" style="display: none; margin-left: 48%; margin-top:3%">
                <span class="sr-only">Loading...</span>
            </div>

        </form>
        
        {%else%}
            <p> UPLOAD IMAGE TO TRAIN !</p>
        {% endif %}


    </div>

</div>

<script>
    

    $("#empty-form-button").click( function (){

        $('#empty-form-spinner').css('display','block');
        $("#empty-form-submit-button").click();


    });


    $("#form-button").click( function (){

        $('#form-spinner').css('display','block');
        $("#form-submit-button").click();


    });
</script>
{% endblock %}